<nav class="navbar">
    <a href="#" class="logo">
        <img [src]="logoImage" alt="Logo" class="logo-image">
    </a>

    <div class="nav-right">
      <a routerLink="/add-product" class="publish-link" *ngIf="isLoggedIn">
            <i class="fas fa-plus"></i>
            Publier
        </a>




        <div class="avatar-container" *ngIf="isLoggedIn">
            <div class="avatar" (click)="toggleDropdown()" [class.active]="isDropdownOpen">
                {{ userInitials }}
            </div>
            <div class="dropdown" [class.show]="isDropdownOpen">
                <div class="dropdown-item" (click)="handleProfile()">
                    <i class="fas fa-user"></i>
                    Profile
                </div>
                <div class="dropdown-item" (click)="handleSettings()">
                    <i class="fas fa-cog"></i>
                    Settings
                </div>
                <div class="dropdown-item" (click)="handleLogout()">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </div>
            </div>
        </div>
        <a routerLink="/login" class="login-btn" *ngIf="!isLoggedIn">Se connecter</a>
    </div>
</nav>
