<div class="recent-actions">
  <h3>{{ title }}</h3>

  <div class="no-actions" *ngIf="!recentItems.length">
    Aucune action récente à afficher
  </div>

  <div class="actions-list" *ngIf="recentItems.length">
    <div class="action-item" *ngFor="let item of recentItems">
      <div class="action-icon" [style.color]="getActionColor(item.action)">
        <mat-icon>{{ getActionIcon(item.action) }}</mat-icon>
      </div>

      <div class="action-content">
        <div class="action-header">
          <span class="product">{{ item.productTitle }}</span>
          <span class="action-time">{{ getTimeAgo(item.date) }}</span>
        </div>

        <div class="action-details">
          <span class="moderator">{{ item.moderatorName }}</span>
          <span class="reason" *ngIf="item.reason">- {{ item.reason }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
